    @import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Caladea:ital,wght@1,700&family=Dancing+Script:wght@500;700&family=Noto+Sans:ital,wght@0,600;1,200&family=Pacifico&family=Poppins:wght@100;400;700&family=Roboto+Condensed&display=swap");

    * {
    margin: 0;
    padding: 0;
    }
    html {
    scroll-behavior: smooth;
    transition: all 0.2s ease-in-out;
    }
    body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background: linear-gradient(to bottom right, #23192e, #351e4d);
    transition: all 0.5s linear;
    }
    .scrolldwn {
    background: linear-gradient(to bottom right, #8e3dea, #30045f, #130127);
    transition: all 0.5s;
    padding: 0.7rem;
    }
    header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.5s;
    border: none;
    outline: none;
    }
    header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    color: #bebbbb;
    font-size: 2vw;
    background-color: #130127;
    max-width: 100%;
    transition: all 0.5s;
    border: none;
    outline: none;
    }
    header nav .one {
    font-size: 2rem;
    font-weight: 700;
    transition: 0.6s;
    }
    header nav .two ul {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 1.35rem;
    position: relative;
    }
    header nav .two ul li {
    list-style: none;
    
    }
    header nav .two .main i,
    header nav .two ul .close i {
    font-size: 2rem;
    margin: 1rem;
    display: none;
    cursor: pointer;
    }
    header nav .two ul li a {
    text-decoration: none;
    color: #bebbbb;
    font-size: 1rem;
    transition: all 0.6s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    }
    header nav .two ul li:hover,header nav .two ul li.active {
    transform: scale(1.05);
    text-decoration: underline;
    color: #fac9b8;
    }
    main .Home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    padding: 2rem;
    }
    .wave {
    font-size: 2rem;
    animation-name: wave-animation; 
    animation-duration: 2.5s; 
    animation-iteration-count: infinite; 
    transform-origin: 70% 70%; 
    display: inline-block;
    }

    @keyframes wave-animation {
        0% {
        transform: rotate(0deg);
        }
        10% {
        transform: rotate(14deg);
        } 
        20% {
        transform: rotate(-8deg);
        }
        30% {
        transform: rotate(14deg);
        }
        40% {
        transform: rotate(-4deg);
        }
        50% {
        transform: rotate(10deg);
        }
        60% {
        transform: rotate(0deg);
        } /* Reset for the last half to pause */
        100% {
        transform: rotate(0deg);
        }
    }
    
    main .About {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3rem;
    }
    main .About {
        gap: 3rem;
    }
    main .About .intro p {
        text-align: center;
    }
    .top {
        font-size: 1.5rem;
    }
    .name {
        font-size: 3rem;
    }
    h1
    {
        text-align: center;
    }
    #codechef {
        color: cyan;
    }
    #element {
        color: cyan;
        font-weight: 500;
        font-size: 3.2rem;
    }
    main .Home .intro,
    main .About .intro {
        color: white;
        padding: 2rem;
        margin: 0.7em;
    }
    
    main .Home .intro .cv1 a button {
        width: 10rem;
        height: 3.5rem;
        font-size: 1.2rem;
    
        border: 1.5px solid cyan;
        border-radius: 3rem;
        color: cyan;
        background-color: #23192e;
        transition: all 0.3s ease-in-out;
    }
    main .Home .intro .cv1 a button:hover {
        cursor: pointer;
        background-color: cyan;
        color: #130127;
        box-shadow: 1px 2px 20px 5px cyan;
    }
    main .Home .image,
    main .About .image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    main .About .image .i {
        width: 15rem;
        margin: 1rem;
        border-radius: 36%;
    }
    #blobs
    {
        width: 25rem;
        margin: 1rem;
        position: absolute;
        bottom:-16%;
        left:-37%;
        z-index: -1;
    }
    main .About .intro .more {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin: 1.5rem;
    }
    main .About .intro .more button {
        width: 10rem;
        height: 3.5rem;
        font-size: 1.2rem;
    
        border: 1.5px solid cyan;
        border-radius: 3rem;
        color: cyan;
        background-color: #23192e;
        transition: all 0.3s ease-in-out;
    }
    main .About .intro .more button:hover {
        cursor: pointer;
        background-color: cyan;
        color: #130127;
        box-shadow: 1px 2px 20px 5px cyan;
    }
    .About .intro h1 {
        font-size: clamp(0.5rem, 4rem, 5rem);
        color: #bebbbb;
        font-weight: 400;
        padding-left: 1.5rem;
        margin-bottom: 1rem;
        width: 90%;
        border-bottom: 1px solid cyan;
        padding-bottom: 1rem;
    }
    .Home .intro .socials {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        font-size: 2.5rem;
    }
    .Home .intro .socials {
        margin: 1rem 1px;
    }
    .Home .intro .socials a i {
        color: cyan;
        border: 2px solid cyan;
        padding: 0.5rem;
        border-radius: 50%;
    }
    .Home .intro .socials a :hover {
        box-shadow: 1px 2px 20px 5px cyan;
        transition: all 0.2s linear;
    }
    
    #link:hover {
        color: blue;
        background-color: cyan;
    }
    #git:hover {
        color: black;
        background-color: cyan;
    }
    main .Skills {
        margin: 2rem;
    }
    main .Skills h1 {
        color:#bebbbb ;
        text-align: center;
        font-size: clamp(0.5rem, 4rem, 5rem);
        margin: 2rem;
        font-weight: 400;
        
        
        border-bottom: 1px solid cyan;
        padding-bottom: 1rem;
    }
    main .Skills .skills {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5rem;
    }
    input[type="range"] {
        appearance: none;
        height: 0.5rem;
        width: 15rem;
        border-radius: 2rem;
        background-color: cyan;
        margin-right: 1rem;
    }
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 1.4rem;
        height: 1.4rem;
        background-color: rgb(178, 56, 235);
        border: 1px solid white;
        border-radius: 50%;
    }
    
    .technical,
    .professional {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        width: 22rem;
        border: 2px solid cyan;
        padding: 3rem 2rem;
        border-radius: 3rem;
        transition: all 0.3s ease-in-out;
    }
    .technical:hover,
    .professional:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        box-shadow: 1px 2px 20px 5px cyan;
        cursor: pointer;
    }
    main .Skills .skills .technical h2,
    main .Skills .skills .professional h2 {
        font-size: 2.5rem;
        text-align: center;
        color: #fac9b8;
        font-weight: 400;
    }
    main .Skills .skills .technical .skill p {
        color: #bebbbb;
        font-size: 1.5rem;
    }
    main .Skills .skills .technical .skill {
        margin: 0.1rem;
        color: #fac9b8;
    }
    main .Skills .skills .technical .skill p i {
        margin-right: 0.5rem;
        font-size: 2rem;
    }
    main .Skills .skills .technical .la1 p i {
        color: red;
    }
    main .Skills .skills .technical .la2 p i {
        color: blue;
    }
    main .Skills .skills .technical .la3 p i {
        color: yellow;
    }
    main .Skills .skills .technical .la4 p i {
        color: rgb(255, 94, 0);
    }
    main .Skills .skills .technical .la5 p i {
        color: rgb(59, 138, 241);
    }
    main .Skills .skills .technical .la6 p i {
        color: yellow;
    }
    main .Skills .skills .technical .la7 p i {
        color: rgb(0, 238, 255);
    }
    main .Skills .skills .professional .skill1 {
        background-color: #bebbbb;
        margin: 1rem;
        padding: 0.5rem;
        font-size: 1.5rem;
        width: 100%;
        border-radius: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .Skills .skills .professional .skill1 p
    {
        text-align: center;
    }
    main .Skills .skills .professional .skill1:hover {
        box-shadow: 1px 3px 40px 10px #bebbbb;
    }
    #Projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .Projects h1 {
        text-align: center;
        width: 100%;
        font-size: clamp(0.5rem, 4rem, 5rem);
        color: #bebbbb;
        font-weight: 400;
        margin-bottom: 1rem;
        width: 90%;
        border-bottom: 1px solid cyan;
        padding-bottom: 1rem;
    }
    
    .p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        border: 1px solid cyan;
        border-radius: 3rem;
        margin: 2rem;
        cursor: pointer;
    }
    .pic {
        width: 25rem;
        height: 27rem;
        border: none;
        border-radius: 3rem;
        transition: all 0.15s linear;
    }
    .p .layer {
        width: 100%;
        height: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(rgb(0, 255, 255, 0.7), rgb(16, 16, 214));
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        transition: all 0.3s ease-in-out;
        color: #130127;
    }
    .p .layer h3 {
        font-size: 3rem;
        text-align: center;
        margin: 1rem;
    }
    .p .layer p {
        font-size: 1.3rem;
        padding: 0.5rem;
    }
    .p .layer a i {
        font-size: 2.5rem;
        color: black;
    }
    .p:hover img {
        transform: scale(1.05);
    }
    
    .p:hover .layer {
        height: 100%;
    }
    main .Resume {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    main .Resume .cv {
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .Resume h1 {
        text-align: center;
        width: 100%;
        color: #bebbbb;
        font-size: clamp(0.5rem, 4rem, 5rem);
        font-weight: 400;
        margin-bottom: 1rem;
        width: 90%;
        border-bottom: 1px solid cyan;
        padding-bottom: 1rem;
    }
    main .Resume #cv {
        color: white;
        font-size: clamp(0.5rem, 1.4rem, 2rem);
        text-align: center;
    }
    .cv a button {
        width: 10rem;
        height: 3.5rem;
        font-size: 1.2rem;
    
        border: 1.5px solid cyan;
        border-radius: 3rem;
        color: cyan;
        background-color: #23192e;
        transition: all 0.3s ease-in-out;
    }
    .cv a button:hover {
        cursor: pointer;
        background-color: cyan;
        color: #130127;
        box-shadow: 1px 2px 20px 5px cyan;
    }
    main .Contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .Contact h1 {
        text-align: center;
        width: 100%;
        font-size: clamp(0.5rem, 4rem, 5rem);
        color: #bebbbb;
        font-weight: 400;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        width: 90%;
        border-bottom: 1px solid cyan;
    }
    main .Contact .give {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        
    }
    main .Contact .give .details {
        color: white;
        margin-left: 1.5rem;
        padding: 1rem;
    }
    main .Contact .give .details h2 {
        font-size: 4rem;
        text-align: center;
        color: white;
        font-weight: 200;
        width: 100%;
        
    }
    main .Contact .give .details .email,
    main .Contact .give .details .phn {
        margin-left: 1rem;
        font-size: 1rem;
        
    }
    main .Contact .give .details .email i {
        font-size: 2.3rem;
        color: #ff2e0f;
        margin-right: 1rem;
    }
    main .Contact .give .details .phn i {
        font-size: 2.3rem;
        color: black;
        margin-right: 1rem;
    }
    main .Contact .give .details p {
        font-size: clamp(0.5rem, 1.3rem, 2.3rem);
    
        text-align: center;
    }
    main .Contact .give .contact
    {
        margin-right: 3rem;
    }
    main .Contact .give .contact form {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    
        padding: 1rem;
        
    }
    main .Contact .contact form input
    {
        border: none;
        outline: none;
        width: 30rem;
        margin-bottom: 1rem;
        padding: 1.2rem;
        background-color:transparent;
        border-bottom: 2px solid white;
        font-size: 1.15rem;
        font-weight: 200;
        color:white;
    }
    main .Contact .contact form textarea
    {
        border: none;
        outline: none;
        width: 30rem;
        margin-bottom: 1rem;
        padding: 1.2rem;
        background-color:transparent;
        border: 2px solid white;
        border-radius: 2rem;
        font-size: 1.15rem;
        font-weight: 200;
        color:white;
    
    }
    main .Contact .contact form input::placeholder,
    main .Contact .contact form textarea::placeholder {
        color: white;
    }
    main .Contact .contact form input[type="submit"] {
        border: none;
        outline: none;
        width: 10rem;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: #e2f458;
        border-radius: 3rem;
        font-size: 1rem;
        font-weight: 200;
    }
    main .Contact .contact form input[type="submit"]:hover {
        background-color: #e6ee0b;
        cursor: pointer;
    }
    p {
        transition: display 1s ease-in-out;
    }
    #see {
        display: none;
    }
    main .Education
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .Education .outer
    {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        
    }
    main .Education h1
    {
        text-align: center;
        width: 100%;
        font-size: clamp(0.5rem, 4rem, 5rem);
        color: #bebbbb;
        font-weight: 400;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        width: 90%;
        border-bottom: 1px solid cyan;
    
    }
    main .Education .outer .box
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width:20rem;
        padding: 1.5rem;
        margin: 1.5rem;
        border-left: 5px solid #bebbbb;
        height: 10rem;
        position: relative;
        transition: all 0.5s ease-in-out;
    }
    main .Education .outer .box i
    {
        position: absolute;
        top:-5px;
        left:-25px;
        font-size: 2.5rem;
        color: yellow;
        
    }
    main .Education .outer .box h2
    {
        color:#bebbbb;
    }
    main .Education .outer .box p
    {
        color:#fac9b8;
    }
    footer p
    {
        text-align: center;
        
        padding: 1.5rem;
        font-size: 1.2rem;
        color:#bebbbb;
    }
    .cyan
    {
        color:cyan;
    }
    #submit
    {
        width: 10rem;
        height: 3.5rem;
        font-size: 1.5rem;
    
        border: 1.5px solid cyan;
        border-radius: 3rem;
        color: cyan;
        background-color: #23192e;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    #submit:hover
    {
        cursor: pointer;
        background-color: cyan;
        color: #130127;
        box-shadow: 1px 2px 20px 5px cyan;
    
    }
    @media (max-width: 1000px) {
        main .Contact .give {
        flex-wrap: wrap;
        }
    }
    @media (max-width: 900px) {
        main .Home,
        main .About {
        flex-wrap: wrap-reverse;
        }
        .i {
        width: 100%;
        }
    }
    @media (max-width: 650px) {
        main .Contact .contact form input,
        main .Contact .contact form textarea {
        width: 90%;
        }
        .pic {
        width: 20rem;
        height: 22rem;
        }
        #element
        {
        font-size: 2.5rem;
        }
        .technical,
        .professional {
        width: 15rem;
        }
        main .Education .outer .box
        {
        width: 15rem;
        height: 15rem;
        }
        .p .layer h3 {
        font-size: 1.5rem;
        text-align: center;
        
        }
        .p .layer p {
        font-size: 0.7remrem;
        padding: 0.5rem;
        }
        .p .layer a i {
        font-size: 1.7rem;
        color: black;
    }
    main .Home .intro,
    main .About .intro {
    
        padding: 0.2rem;
        margin: 0.2rem;
        
    }
    main .Contact .give .details
    {
        margin-left: 0rem;
    }
    main .Contact .give .details .email ,main .Contact .give .details .phn ,main .Contact .give .details .phn i,main .Contact .give .details .email i
    
    {
        font-size: 0.9rem;
    
    }
    #blobs
    {
        width: 25rem;
        margin: 1rem;
        position: absolute;
        top:34%;
        left:-30%;
        z-index: -1;
    }
    }
    @media (max-width: 400px) {
        
        main .Education .outer .box
        {
        width: 10rem;
        height: 20rem;
        }
        .pic {
        width: 17rem;
        height: 19rem;
        }
        
    }
    @media (max-width: 1130px) {
        header nav .two ul {
        height: 90vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top 1s ease-in-out;
        
        background-color: rgb(19, 1, 39, 0.9);
        display: none;
        }
        header nav .two ul li a {
        font-size: 2rem;
        }
        header nav .two ul .close i {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        }
        header nav .two .main i {
        display: block;
        }
    
        
    }
    